files:
  "/etc/nginx/conf.d/01_app_server.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # The content of this file is based on the content of /etc/nginx/conf.d/webapp_healthd.conf
      upstream website_upstream {
        server unix:///var/run/puma/my_app.sock;
      }

     location / {
        try_files $uri $uri/ /index.html;
    }

    location = /index.html {
        expires -1;
    }
        command: "sudo service nginx reload"